{% extends "base_generic.html" %}
{% load static %}

{% block content %}
    <div class="dashboard-wrapper white">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-10">
                    <form action="/dashboard/" name='stock' method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="symbol">Stock you want to view</label>
                            <select name='symbol' id='symbol' class="form-control">
                                {% for symbol in stock_list %}
                                <option value = '{{symbol}}'>{{symbol}}</option>
                                {%endfor%}
                            </select>
                        </div>
                        <button type="submit" class="btn landing-btn" id="submit" style="background-color: #00ff89">Submit</button>
                    </form>
                    <h1>{{symbol}}</h1>
                    {{ div|safe }}
                    {{ script|safe }}

                    <div class="market-table-wrapper" style="margin-top: 3em">
                        <table class="table">
                            <tr>
                                <td>Previous Close: {{stock_close}}</td>
                                <td>Market Cap: {{stock_marketCap}}</td>
                            </tr>
                            <tr>
                                <td>Open: {{stock_open}}</td>
                                <td>Beta: {{stock_beta}}</td>
                            </tr>
                            <tr>
                                <td>Bid: {{stock_bid}}</td>
                                <td>PE: {{stock_PE}}</td>
                            </tr>
                            <tr>
                                <td>Ask: {{stock_ask}}</td>
                                <td>EPS: {{stock_EPS}}</td>
                            </tr>
                            <tr>
                                <td>52 Week Range: {{stock_weekRange}}</td>
                                <td>Volume: {{stock_volume}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="news-wrapper">
                        {%for item in news_list %}
                          <div class="news-item">
                              <div class="news-img-wrapper">
                                  <a href="{{item.url}}"><img src="{% static 'images/news.jpg'%}" style="max-width: 100%"></a>
                              </div>
                              <div class="news-title-wrapper">
                                <h5 class="news-title-text"><a href="{{item.url}}">{{ item.title }}</a></h5>
                              </div>
                          </div>
                          
                        {%endfor%}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}