{% block content %}
Welcome, {{user.user}}
<div class="white">
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="myinfo-wrapper">
					<div class="myinfo-header">
						<h4>placeholder</h4>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="dashboard-wrapper">
					<div class="dashboard-header">
						<h4>placeholder</h4>
					</div>
					<img src="https://docs.imply.io/images/pivot-dashboard.png" style="max-width: 100%">
				</div>
			</div>
			<div class="col-lg-3">
				<div class="news-wrapper">
					<div class="news-header">
						<h4>placeholder</h4>
					</div>
					<div class="news-item">
						<div class="news-item-wrapper">
							<div class="news-item-img-wrapper">
								<img src="https://docs.imply.io/images/pivot-dashboard.png" style="max-width: 100%">
							</div>
							<div class="news-item-headline">
								<p>abc</p>
							</div>
						</div>
					</div>
					<div class="news-item">1</div>
					<div class="news-item">1</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

