<!DOCTYPE html>
<html>
<head>
    <title>MAVAL Investment</title>
    <link rel="stylesheet" type="text/css" href="../assets/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
</head>
<body>
    <div class="page-body">
        <div class="page-header-wrapper">
            <div class="page-header-wrapper-inner">
                <header class="header">
                    MAVAL
                </header>
                <div class="container">
                    <div class="row">
                        <div class="header-intro col-lg-4 offset-lg-1">

                        </div>
                        <div class="header-si-form-wrapper col-lg-5">
                            <div class="header-si-form-wrapper-inner">
                                <div class="header-form-title">
                                    <h3 class="header-form-title-text">sign in</h3>
                                </div>
                                <form class="header-form-signin" method="POST">
                                    <div class="form-group">
                                        <label>User Name</label>
                                        <input type="text" name="siUserName" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" name="siPassword" class="form-control" required="">
                                    </div>
                                    <button type="button" class="btn btn-info">Submit</button>
                                </form>
                                <div class="header-form-subtitle">
                                    <p class="header-form-subtitle-text">Don't have an account? Sign up <a href="#">here</a></p>
                                </div>
                            </div>      
                        </div>
                        <div class="header-su-form-wrapper col-lg-5">
                            <div class="header-su-form-wrapper-inner">
                                <div class="header-form-title">
                                    <h3 class="header-form-title-text">sign up</h3>
                                </div>
                                <form class="header-form-signup" method="POST">
                                    <div class="form-group">
                                        <label>User Name</label>
                                        <input type="text" name="suUserName" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" name="suPassword" class="form-control" required="">
                                    </div>
                                    <button type="button" class="btn btn-info">Submit</button>
                                </form>
                            </div> 
                        </div>
                    </div>
                </div>   
            </div>
        </div>
        <div>1</div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>