{% extends "base_generic.html" %}


{% block content %}
<div class="white landing-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				<h2 class="landing-title">it's never too young to invest</h2>
				<div class="landing-getstarted"><button type="button" class="landing-btn btn"><a href="#" class="landing-btn-link">Get Started</a></button></div>
				<p class="landing-subtitle">We are here to help you build up your investment plan through 3 steps</p>
				<div class="landing-step-wrapper">
					<div class="step1-wrapper">
						<div class="step-number-wrapper">
							<div class="step-number">
								<p>1</p>
							</div>
						</div>
						<div class="step-text-wrapper">
							<h4>share with us your goal</h4>
							<p>we would like to understand your goal and financial background so that we can better accommodate your needs.</p>
						</div>
					</div>
					<div class="step2-wrapper">
						<div class="step-number-wrapper">
							<div class="step-number">
								<p>2</p>
							</div>
						</div>
						<div class="step-text-wrapper">
							<h4>share with us your goal</h4>
							<p>we would like to understand your goal and financial background so that we can better accommodate your needs.</p>
						</div>
					</div>
					<div class="step3-wrapper">
						<div class="step-number-wrapper">
							<div class="step-number">
								<p>3</p>
							</div>
						</div>
						<div class="step-text-wrapper">
							<h4>share with us your goal</h4>
							<p>we would like to understand your goal and financial background so that we can better accommodate your needs.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
