<!DOCTYPE html>
<html>
    <div>
      

        <h1>Welcome, {{user.user}}</h1>
        You currently have {{user.current_budget}}
        Here are the list of stock you can buy
        <form method= 'POST'>
            <table border = 1>
                <tr>
                    <th>Stock</th>
                    <th>Price</th>
                    <th>Quantity</th>
                  </tr>
                {%for key, values in stock_and_prices.items %}
                <tr>
                    <td>{{ key }}</td>
                    <td>${{values.price|floatformat:2}}</td>
                    <td><input type="number" id="{{ key }}" name="{{ key }}"></td>
                    
                </tr>
                {%endfor%}
            </table>
        </form>
        
        
    </div>
    


</html>