{% extends "base_generic.html" %}


{% block content %}
<div class="info-register-form white">
    <div class="container">
        <form action='/risk/' method='POST'>
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group register-info">
                        <label for="age">Age</label>
                        <input type='number' id='age' name='age' class="form-control" required>
                    </div>
                    <div class="form-group register-info">
                        <label for="occupation">Occupation</label>
                        <input type='text' id='occupation' name='occupation' class="form-control" required>
                    </div>
                    <div class="form-group register-info">
                        <label for="gender">Gender</label>
                        <select name="gender" id="gender" class="form-control">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Rather not to say">Rather not to say</option>
                        </select>
                    </div>
                    <div class="form-group register-info">
                        <label for="financialKnowledge">How is your financial knowledge:</label>
                        <select name="financialKnowledge" id="financialKnowledge" class="form-control">
                            <option value="Beginner">Beginner</option>
                            <option value="Intermediate">Intermediate</option>
                            <option value="Advanced">Advanced</option>
                        </select>
                    </div>
                    <div class="form-group register-info">
                        <label for="monthlyExpense">Monthly Expense</label>
                        <input type='text' id='monthlyExpense' name='monthlyExpense' class="form-control" required>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group register-info">
                        <label for="age">e-Budget for Trial Investment</label>
                        <input type='text' id='currentBudget' name='currentBudget' class="form-control" required>
                    </div>
                    <div class="form-group register-info">
                        <label for="occupation">What is your financial goals</label>
                        <input type='text' id='financialGoals' name='financialGoals' class="form-control" required>
                    </div>
                    <div class="form-group register-info">
                        <label for="gender">Assuming that you want to invest in stocks, which one would you choose?</label>
                        <select name="investmentOption" id="investmentOption" class="form-control">
                            <option value="Option A">Companies with significant technological advancement but selling their stocks at a low price</option>
                            <option value="Option B">Established well-known companies that have a potentially high rate of growth. “Blue chip” stocks that pay the dividend</option>
                        </select>
                    </div>
                    <div class="form-group register-info">
                        <label for="monthlyIncome">Monthly Income</label>
                        <input class="form-control" type='text' id='monthlyIncome' name='monthlyIncome' required>
                    </div>
                    <div class="form-group register-info">
                        <label for="monthlyExpense">How long you want your investment plan to be?</label>
                        <select name="termIntended" id="termIntended" class="form-control">
                            <option value="Long Term">Long Term</option>
                            <option value="Short Term">Short Term</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
