{% extends "base_generic.html" %}

{% block content %}
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
  
<div class="signin-form white">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="header-intro-wrapper">
          <h3 class="header-intro-title">your retirement plans in your hands</h3>
          <p class="header-intro-subtitle">
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
          </p>
        </div>
      </div>
      <div class="col-lg-5 col-lg-offset-1">
        <div class="signin-form-wrapper">
          <div class="header-form-title">
            <h3 class="header-form-title-text">
              sign in
            </h3>
          </div>
          <div class="signin-form-inner">
            <form class="header-form-signin" method="post" action="{% url 'login' %}">
              {% csrf_token %}
              <div class="form-group">
                <label>Username</label><br>
                {{ form.username }}
              </div>
              <div class="form-group">
                <label>Password</label> <br>
                {{ form.password }}
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <input type="checkbox" id="rememberme" name="rememberme" checked>
                  <label for="scales">Remember me</label>
                </div>
                <div class="col-lg-6">
                  <a href="#">Forgot password?</a>
                </div>
              </div>
              <button type="submit" class="btn" value="login" style="background-color: #01FF85">Submit</button>
              <input type="hidden" name="next" value="{{ next }}" />
            </form>
            <a href="#">Don't have an account? Sign up here</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
  
  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
  
{% endblock %}