body, html{
	height: 100%;
	margin: 0;
}
.page-body{
	width: 100%;
	height: 100%;
}
.page-header-wrapper{
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: relative;
}
.page-header-wrapper:after{
	content: "";
	background-image: url("../media/bg2.jpg");
	opacity: 0.3;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.header{
	width: 100%;
	height: 100%;
	color: #424242;
	text-align: center;
	font-size: 3em;
	margin-bottom: 3em;
	font-family: "Montserrat", sans-serif;
	position: relative;
}
.header:after{
	content: "";
	background-color: #424242;
	opacity: 0.3;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	z-index: -1;
}
.header-intro-title{
	text-transform: uppercase;
	margin-bottom: 2em;
	font-family: "Montserrat", sans-serif;
	font-size: 1.9em;
	font-weight: bold;
	color: #00ff89;
}
.header-intro-subtitle{
	font-family: "Quicksand", sans-serif;
	color: white;
	font-weight: bold;
}
.header-su-form-wrapper{
	display: none;
}
.header-si-form-wrapper-inner{
	background-color: white;
	border-radius: 5px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(97,97,97,0.5);
	-moz-box-shadow: 10px 10px 5px 0px rgba(97,97,97,0.5);
	box-shadow: 10px 10px 5px 0px rgba(97,97,97,0.5);
}
.header-form-title{
	text-align: center;
	padding: 2em;
	font-family: "Montserrat", sans-serif;
	background-color: white;
}
.header-form-title-text{
	text-transform: uppercase;
}
.header-form-signin .form-group{
	margin-bottom: 3em;
	border-radius: 25px;
}
input.form-control{
	width: 80%;
	margin-left: 10%;
	border: none;
	border-bottom: 1px solid grey;
}
.header-form-signin .form-group label{
	margin-left: 10%;
	font-family: "Montserrat", sans-serif;
}
.header-form-signin button, .header-form-subtitle{
	margin-left: 25%;
	margin-bottom: 3em;
	width: 50%;
	border-radius: 30px;
	font-weight: bold;
}
.header-form-subtitle-text{
	font-family: "Quicksand", sans-serif;
}
.dashboard-wrapper img{
	max-width: 100%;
}
.signin-form-wrapper{
	border: 1px solid;
	width: 85%;
	border-radius: 10px;
}
.header-form-signin .form-group input{
	margin-left: 2em;
}
.step1-wrapper{
	height: 100%;
}
.step-number-wrapper{
	display: inline-block;
	width: 10%;
	height: 100%;
}
.step-number{
	border: 1px solid;
	border-radius: 50%;
	height: 5em;
	display: flex;
	justify-content: center;
	align-items: center;
}
.step-text-wrapper{
	display: inline-block;
	float: right;
}
.landing-title{
	text-align: center;
	margin-bottom: 25px;
	font-size: 40px;
	color: white !important;
}
.landing-subtitle{
	text-align: center;
	text-align: center;
	font-size: 20px;
	color: white !important;
}
.landing-getstarted{
	text-align: center;
}
.header-form-signin{
	background-color: white;
}
.signin-form{
	width: 100%;
	height: 100%;
	background-image: url("../images/bg2.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.register-info .form-control {
	margin-left: 0;
	width: 100%;
}
.landing-btn{
	letter-spacing: 1px;
	background-color: #00ff89;
	border-radius: 35px !important;
	font-weight: bold !important;
	color: black !important;
}
.news-item{
	-webkit-box-shadow: 10px 10px 20px 0px rgba(192,192,192,0.5);
	-moz-box-shadow: 10px 10px 20px 0px rgba(192,192,192,0.5);
	box-shadow: 10px 10px 20px 0px rgba(192,192,192,0.5);
}
.news-item:not(:first-child){
	margin-top: 2em;
}
.news-title-text{
	padding-bottom: 1em;
	font-family: "Montserrat", sans-serif;
}
